input[type=file]::file-selector-button {
    width: 80px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    cursor: pointer;}
input[type=file]::file-selector-button:hover {
     background: rgb(77,77,77);
     color: #fff;
 }
